
.navbar-fixed-top{
        background-color: #FFB6B8 !important;
        height: 75px !important;
}

.navbar-brand{
	padding: 0px;
}

.navbar-brand> img{
	height: 80px;
	padding: 15px;
	width: 110px;
}
.navbar-right{
	margin-bottom: 30px!important;
	margin-top: 10px !important;
	text-align: center !important;
}

#top{
	font-size: 50px;
    margin-top: 200px!important;
    background-color: #A2B5BF !important;
}


.well{
	width: 70%;
	margin-left: 15%;
	border-radius: 15px;
}



.form-group{
	width: 50%
	margin: auto;
}

legend{
	text-align: center;
}
.btn-primary{
	margin-left: 10%; 
	margin-top: 15px;
}
.btn-warning{
	margin-left: 24%;
	margin-top: 15px;
}
.btn-default{
	margin-left: 25%;
	margin-top: 15px;
}
#bas{
	margin-left: 30px;
}

#fac{
	margin-top:100px; 
}